.buttonRow {
    padding-top: 10px;
    padding-bottom: 10px;
}

.invoiceFieldText {
    font-size: 18px;
    line-height:2;
    color:grey;
    padding-top:2px;
}

#jsonString {
    height:500px;
}


.table { table-layout:fixed; }
.table tr { height:1em;  }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{ overflow:scroll;white-space:nowrap;  }

.invoiceContainer {
    padding-top:5%;
}

.invoiceTable {
    width: 100%;
    color:black !important;
    font-size:12px;

}

.page-link {
    color: #1DC7EA;
}

.invoiceTable .table td, .table th {
    padding: 0.5rem;
}
.blackFont{
    color:black !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color:red;
}

#descriptionBox {
    height:75px;
}


.ui-widget-header {
    border: 1px solid grey;
    background: lightslategray;
    color:black;
}


.ui-widget-content {
    background: white !important;
}
